
<div id="theatre-animate">
  <em id="curtain-left"></em>
  <em id="curtain-right"></em>
  <div id="answer">
    <h1>{{name}} {{epitaph}}</h1>
    <img src="{{image_url}}" id='monarch'>
    <p>ruled from {{ruled_from}} to {{ruled_to}}
    more info? check out their <a target="blank" href="{{rex_url}}">podcast</a></p>
  </div>
</div>